*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    align-items:center ;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

#logo{
    height: 30px;
    width: 100px;
}

hr{
    width: 1000px;
    margin: 25px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


